---
Checks:
  - -*
  - clang-analyzer-*
  - modernize-*
  - -modernize-avoid-c-style-cast
  - -modernize-use-integer-sign-comparison
  - -modernize-use-trailing-return-type
  - performance-*
  - misc-*
  - -misc-include-cleaner
  - -misc-no-recursion
  - -misc-non-private-member-variables-in-classes
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*'
FormatStyle: file
SystemHeaders: false
ExtraArgs:
  - -std=gnu++20
...
