---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0
ForEachMacros:
  - FOR1_
  - FOR2_
  - dlxfor_
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
Standard: c++17
...
