---
Language: Cpp
Standard: c++20
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
ColumnLimit: 0
ForEachMacros:
  - FOR1_
  - FOR2_
  - dlxfor_
  - flt_
IndentRequiresClause: false
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
...
