name: Build & Relase LaTeX document

on:
  push:
    branches:
      - master
    paths:
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/**'
      - 'cheatsheet/**'
      - 'include/**'
      - 'doc_tex/**'
      - 'usage/**'
      - 'config.yml'
      - '*.bib'
      - '*.cls'
      - '*.py'
      - '*.tex'
  pull_request:
    branches:
      - master
    paths:
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/**'
      - 'cheatsheet/**'
      - 'include/**'
      - 'doc_tex/**'
      - 'usage/**'
      - 'config.yml'
      - '*.bib'
      - '*.cls'
      - '*.py'
      - '*.tex'
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || 'x' }}-${{ github.workflow }}-${{ github.ref }}-pdf
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install Python dependencies
        run: uv sync
      - name: Generate TeX files
        run: |
          uv run python manager.py -l DEBUG gen-cs
          uv run python manager.py -l DEBUG gen-nb
      - name: Download fonts
        run: |
            chmod +x script/download_fonts.sh
            echo "::group::Downloading fonts"
            ./script/download_fonts.sh
            echo "::endgroup::"
            echo "::group::Downloaded fonts list"
            ls -l fonts
            echo "::endgroup::"
      - name: Build the LaTeX document
        id: build-latex
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
          args: "-pdf -file-line-error -halt-on-error -interaction=batchmode -8bit"
          extra_system_packages: |
            unzip
            wget
            python3
            py3-pip
            py3-pygments
            inkscape
          pre_compile: |
            echo "::group::Apply fonts"
            cp -r fonts/* /usr/share/fonts
            fc-cache -f
            echo "::endgroup::"
          root_file: notebook.tex
      - name: Upload LaTeX logs to artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: latex-logs
          path: |
            notebook.log
            notebook.aux
            notebook.fdb_latexmk
            notebook.fls
            notebook.out
      - name: Upload PDF to artifacts
        uses: actions/upload-artifact@v5
        with:
          name: result
          path: notebook.pdf
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          set -x
          tar -cf CP-lib.tar include/*
          gzip -9 CP-lib.tar
          gh release create "${{ github.ref_name }}" ./notebook.pdf ./CP-lib.tar.gz
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NAME: "${{ github.ref_name }}"