name: Build & Relase LaTeX document

on:
  push:
    branches:
      - master
    paths:
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/**'
      - 'cheatsheet/**'
      - 'img/**'
      - 'libs/**'
      - 'include/**'
      - 'doc_tex/**'
      - 'template/**'
      - 'src/**'
      - 'usage/**'
      - 'config.yml'
      - '*.bib'
      - '*.cls'
      - '*.py'
      - '*.tex'
  pull_request:
    branches:
      - master
    paths:
      - 'pyproject.toml'
      - 'uv.lock'
      - '.github/**'
      - 'cheatsheet/**'
      - 'img/**'
      - 'libs/**'
      - 'include/**'
      - 'doc_tex/**'
      - 'template/**'
      - 'src/**'
      - 'usage/**'
      - 'config.yml'
      - '*.bib'
      - '*.cls'
      - '*.py'
      - '*.tex'
  workflow_dispatch:
    inputs:
      ignore_font_cache:
        type: boolean
        default: false

concurrency:
  group: ${{ github.head_ref || 'x' }}-${{ github.workflow }}-${{ github.ref }}-pdf
  cancel-in-progress: true

jobs:
  build-tex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install Python dependencies
        run: uv sync --frozen
      - name: Generate TeX files
        run: |
          uv run python manager.py -l DEBUG gen-cs
          uv run python manager.py -l DEBUG gen-nb
      - name: Restore fonts cache
        if: ${{ !inputs.ignore_font_cache }}
        id: cache-fonts
        uses: actions/cache/restore@v4
        with:
          path: fonts
          key: fonts-${{ hashFiles('Makefile') }}
      - name: Download fonts
        if: ${{ steps.cache-fonts.outputs.cache-hit != 'true' }}
        run: |
            echo "::group::Downloading fonts"
            make download-fonts
            echo "::endgroup::"
            echo "::group::Downloaded fonts list"
            ls -l fonts
            echo "::endgroup::"
      - name: Save fonts cache
        if: ${{ steps.cache-fonts.outputs.cache-hit != 'true' }}
        uses: actions/cache/save@v4
        with:
          path: fonts
          key: fonts-${{ hashFiles('Makefile') }}
      - name: Build the LaTeX document
        id: build-latex
        uses: xu-cheng/latex-action@v4
        with:
          latexmk_use_xelatex: true
          latexmk_shell_escape: true
          working_directory: template
          args: "-pdf -file-line-error -halt-on-error -interaction=batchmode -8bit"
          extra_system_packages: |
            unzip
            wget
            python3
            py3-pip
            py3-pygments
            inkscape
          pre_compile: |
            cp -r ../fonts/* /usr/share/fonts
            fc-cache -f
          root_file: notebook.tex
      - name: Upload LaTeX logs to artifacts
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: latex-logs
          path: |
            template/notebook.log
            template/notebook.aux
            template/notebook.fdb_latexmk
            template/notebook.fls
            template/notebook.out
      - name: Upload PDF to artifacts
        uses: actions/upload-artifact@v5
        with:
          name: result
          path: template/notebook.pdf
      - name: Release PDF
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: |
          set -x
          mv ./template/notebook.pdf ./notebook.pdf
          gh release create "${{ github.ref_name }}" ./notebook.pdf
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NAME: "${{ github.ref_name }}"

  release-include:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v6
      - name: Release
        shell: bash
        run: |
          set -x
          tar -cf CP-lib.tar include/*
          gzip -9 CP-lib.tar
          gh release create "${{ github.ref_name }}" ./CP-lib.tar.gz
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NAME: "${{ github.ref_name }}"
